html{
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
}

.botaoAzul{ 
background-color: blue;
color: cornsilk;
display: flex;
flex-direction: column;
margin: 10px;
border-radius: 5px;
font-family: monospace;}

.img{
    border-radius: 100%;
}

.text{
align-items: center;
font-style: italic;
font-weight: bold;
margin: 10px;
}

.tudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


.img2{
    border-radius: 5px;
    margin: 10px;
}

.tudo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.h1{
font-weight: bold;
font-size: 20px;
margin: 10px;
}
.text2{
    align-items: center;
    margin: 10px;
}
